*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

section {
  position: relative;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0
}

header {
  height: 523px;
  position: relative; /* for absolute children */
  background-image: url('http://unsplash.it/1300/600');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 96, 172, .8);
  /*pointer-events: none; */
  /* pointer events only makes it click-through-able */
}

nav {
  padding-top: 10px;
  position: relative; /* puts into stacking order since header:before is absolute */
}

.brand {
  margin-left: 3px;
  float: left;
  display: inline-block;
  vertical-align: middle;
}

.logo {
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  /*background-image: url('images/logo.png');*/
}

.company-name {
  margin-left: 8px;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'Myriad Pro', 'Open Sans', Arial, sans-serif;
}

.main-nav {
  font-size: 18px;
  padding: 8px 0;
  margin: 0 30px 0 0;
  display: inline-block;
  list-style: none;
  float: right;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: right;
}

.main-nav li {
  padding-left: 12px;
  display: inline-block;
}

.main-nav li i {
  vertical-align: middle;
  margin-bottom: 5px;
  transform: scaleX(-1);
  filter: flipH;
}

.main-nav a {
  color: rgba(0,0,0, 0.6);
  text-decoration: none;
  transition: color 150ms ease-in-out;
}

.main-nav li:hover a {
  color: #ffffff;
}

header h1,
header h3 {
  position: relative;
  text-align: center;
}

header h1 {
  color: #ffffff;
  font-family: 'Myriad', 'Open Sans', Arial, sans-serif;
  font-size: 106px;
  text-transform: uppercase;
  margin: 130px 0 0;
  letter-spacing: -5px;
}

header h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14.5px;
  color: rgba(0, 0, 0, 0.7);
  margin: -17px 0 0;
  padding: 0;
}

/*
####### main content area
*/

article {
  width: 625px;
  padding-bottom: 100px;
  float: left;
  color: #5E686F;
  font-family: "Open Sans", Helvetica, sans-serif;
}

p {
  margin: 26px 0 22px;
  line-height: 1.65;
}

p a {
  color: #A4B3BE;
}

p a:hover {
  color: #0067AF;
}

blockquote {
  padding: 6px 20px;
  font-size: 27px;
  margin: 12px 5px;
  border-left: 2px solid #D3D3D3;
}

blockquote p {
  margin: 0;
  color: #226CB0;
  text-transform: uppercase;
}

.content .container {
  padding: 64px 24.5px 0;
}

.content h1 {
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 62.5px;
  line-height: 1.125;
  text-transform: uppercase;
  color: #0E3451;
  margin: 0;
}

.content aside {
  width: 280px;
  float: right;
  background-color: #c3c3c3;
}

.author {
  font-size: 12px;
  padding: 8px 4px;
  list-style: none;
  margin: 0;
}
.author a {
  text-decoration: none;
  color: #226CB0;
  font-weight: bold;
}

.author a:hover {
  text-decoration: underline;
}

.author li {
  margin-right: 10px;
  display: inline-block;
}

.author li span{
  text-decoration: underline;
}

.author img {
  width: 20px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
}

.action-links {
  list-style: none;
  padding: 0;
  font-size: 13px;
}

.action-links i {
  content: "";
  display: inline-block;
  padding: 7px 8px;
  margin-right: 12px;
  background-color: #5E686F;
  font-size: 16px;
  line-height: 1;
}

.action-links li {
  background-color: #A4B3BE;
  /*padding: 7px 10px;*/
  float: left;
  margin-right: 10px;
  padding-right: 13px;
}

.action-links a {
  color: white;
  text-decoration: none;
}
.action-links li:hover {
  background-color: #226CAF;
}
.action-links li:hover i {
  background-color: #0E3450;
}

.author-profile {
  margin: 22px 0 0;
  text-align: center;
}

.author-profile a {
  display: block;
  text-decoration: none;
  color: #A4B3BE;
}

.author-profile h4 {
  color: #226CB0;
  text-transform: uppercase;
  font-weight: normal;
  margin: 16px 0 0;
}

.author-profile span {
  border-radius: 50%;
  display: inline-block;
  width: 84px;
  height: 84px;
  overflow: hidden;
}

.author-profile ul {
  font-size: 12px;
}

.author-profile li {
  padding: 0 5px;
  display: inline-block;
  border-right: 1px solid #FAFAFA;
}

.author-profile li:last-child {
  border: none;
}

/*
##### utility classes
*/

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
